body,ul,li,img,p{
	margin: 0;
	padding: 0;
	list-style: none;
	border:0;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}
a{
	text-decoration: none;
}
img{
	border: 0;
}
*{
	font-family: "微软雅黑","宋体","sans-serif"
}
*{
	box-sizing:border-box;
}